# **HOMEWORK 3...?** 🕵
## **DUE: *MARCH 25, 2025 @ 11:59 PM***
## **24-HR LATE DUE DATE W/ A 15% PENALTY: *MARCH 26, 2025 @ 11:59 PM***

### **DO NOT REMOVE ANY PART OF ANY OF THE QUESTIONS OR YOU LOSE CREDIT**
### *No Hardcoding Any Part of Any Question*  😋🪄🧌
### **REMEMBER TO SHOW ALL CODE OUTPUT (NO CREDIT OTHERWISE)**
### **Reminder: Please make sure your code runs before submitting your work. Code sections that do not run will receive 0 credits, no partials will be given. This is VERY important in real project development.**

---
---
**DISCLAIMER: This is a fake story, not a real incident! We have created this story just for the data exploration purpose.**

---
---

**Campus Police Department**

Incident Report

---

**Incident Date:** Febuary 27, 2025

**Location of Incident:** 2nd Floor, Iribe Building

**Items Left at the Scene:** Red Ticket for Zichao's Magic Show

**Case Number:** 2025-IRB-0027

---
**Victim Information:**

**Name:** Dr. Fardina Alam

**Affiliation:** University of Maryland, College Park

**Position:** Professor

**Contact Information:** fardina@umd.edu

---

**Incident Description:**

On the evening of Febuary 27, 2025, an unknown individual(s) unlawfully entered Dr. Fardina's room located on the 2nd floor of Iribe and stole a set of Markers. The stolen items were a set of limited edition markers that Dr. Fardina had spent years collecting. At the scene of the crime, a red entry ticket for "Zichao's Magic Show" was found on the floor near Dr. Fardina's desk.

In [170]:
# We import all essential libraries for this HW.
# If you want to add additional libraries, you can add more here!
import pandas as pd
from datetime import datetime
import string

## YOUR TASK 🔎:

In this assignment, you are tasked with solving the mystery of Dr. Fardina's stolen markers and finding the culprit.

* To accomplish this, you will be provided with **4 data sets** containing key information related to the incident. The list of the data sets name given below:

 - Profiles
 - Witnesses
 - Zichao's magic show
 - Interrogation Statements



* Your goal is to analyze these data sets to uncover the clues and evidences that will lead you to the thief.

**Be careful in following instructions as it may lead to you losing points :(**

Take a moment to look at all the data sets below:

---

**Profiles:**

This dataset contains information regarding all the potential people that could have committed the crime. General information regarding each person are as follows:
- **ID:** A **unique** identification for each person
- **Name:** The name of the person
- **Birthday:** The birthday of the person
- **Location_during_crime:** The location of the person during the crime
- **Eye_Color:** The eye color of the person
- **Skin_Color:** The skin color of the person
- **Hair_Color:** The hair color of the person
- **Height:** The height of the person in cm

**Witnesses:**

This dataset contains a statement from everyone in profiles, regarding suspicious things they saw during the time of the crime. Information that comes in this dataset are as follows:
- **ID:** A **Unique** identification for each person
- **Statement:** A statement from the person regarding a suspicious activity during the time of the crime

**Zichao's Magic Show:**

This dataset contains everyone that purchased a ticket for the show. **NOTE** that not everyone in profiles has purchased a ticket for this show. The Information contained in this dataset are as follows:
- **ID:** A **Unique** indentification for each person
- **Ticket_Number:** A **Unique** number that serves as an identification for the ticket bought

**Interrogation Statements:**

This datasets contains a statement from each person after they have been interrogated. **NOTE** assume that each statement is ***100% true*** and that ***there are people in this dataset who aren't in the "Profiles" dataset***.
Information contained in this dataset are as follows:

- **Name:** The name of the person being interrogated
- **Statement:** A statement the person gives after being interrogated

---

## Q1) Lets begin by observing the profiles dataset (10 PTS Total)


**TASK 1.1 (1 Point):**  In the code box below, load in "Profiles" dataset into a variable called **profiles_df** and display it

In [ ]:

profiles_df = pd.read_csv("Profiles.csv")
profiles_df

pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_colwidth', 50)

**TASK 1.2 (1 Point):**  Next, you need to display the number of rows and columns in the "Profiles" dataset.

In [ ]:

rows,columns = profiles_df.shape
print("Rows:",rows)
print("Columns:",columns)

Rows: 348
Columns: 8

**TASK 1.3 (1 Point):**  Next, you need to display the name of the columns in the "Profiles" dataset.

In [ ]:

for i in profiles_df.columns:
    print(i)

ID
Name
Birthday
Location_during_crime
Eye_Color
Skin_Color
Hair_Color
Height

**TASK 1.4 (1 Point):**  Now, you need to display the types of the columns in the "Profiles" dataset.

In [ ]:

profiles_df.dtypes

ID                       object
Name                     object
Birthday                 object
Location_during_crime    object
Eye_Color                object
Skin_Color               object
Hair_Color               object
Height                    int64
dtype: object

**TASK 1.5 (2 Points):** Utilizing the `count()` function on this dataset and set it to the variable **info** and then display it.

Write any **potential problem** that you see with the dataset when observing the output of the count function:

In [ ]:

profiles_df.count()

ID                       348
Name                     348
Birthday                 348
Location_during_crime    280
Eye_Color                280
Skin_Color               348
Hair_Color               348
Height                   348
dtype: int64

**<font color='red'>Write your observations here:</font>**

There seems to be an imbalance of data points between the location during the crime along with the eye colors which could tant our data

**TASK 1.6 (4 Points):**

Look back at the "Profiles" dataset. Using other pandas functions than `count()`, **can you spot another potential problem with the dataset?**

In [ ]:

profiles_df.isna().sum()

ID                        0
Name                      0
Birthday                  0
Location_during_crime    68
Eye_Color                68
Skin_Color                0
Hair_Color                0
Height                    0
dtype: int64

**<font color='red'>Write your observations here:</font>**

68 NaNs

## Q2) Cleaning the Dataset (25 PTS Total)

**TASK 2.1 (10 Points):** Lets begin by fixing the Birthday column. You may notice that the dates are in inconsistent format!

- Pandas internally represent dates in 'datetime64' format which is a form of ISO 8601. Basically, dates are represented as yyyy-mm-dd.


- Fix all the dates in the Birthday Column.
- Display the "Profiles" dataframe after you are done.
- Note that the only **2 formats** the dates are in is either **yyyy/dd/mm** or **mm/dd/yyyy**;
- You want to represent them as **yyyy-mm-dd**

- **EXAMPLE**: In the “Profiles” dataset, dates like *2000/10/12* and *10/12/2000* follow different formats—one as *December 10th, 2000*, and the other as *October 12th, 2000*. We aim to standardize them to *2000-12-10* and *2000-10-12*, respectively.

**HINT:** some datetime functions might make things easier.
- https://www.geeksforgeeks.org/python-pandas-to_datetime/
- https://www.programiz.com/python-programming/datetime/strftime

In [ ]:

def date_switch(dateog):
    try:
        date = pd.to_datetime(dateog, format= '%Y/%d/%m')
        return date.strftime('%Y-%m-%d')
    except ValueError:
       date = pd.to_datetime(dateog,format='%m/%d/%Y')
       return date.strftime('%Y-%m-%d')
    
profiles_df['Birthday'] = profiles_df['Birthday'].apply(date_switch)
profiles_df['Birthday'] = pd.to_datetime(profiles_df['Birthday'])
profiles_df

,ID,Name,Birthday,Location_during_crime,Eye_Color,Skin_Color,Hair_Color,Height
0,P299,Marco Rossi,1969-10-07,fourth floor,red,indigo,orange,191
1,P086,Aarav Patel,1979-10-03,second floor,indigo,indigo,green,198
2,P022,Li Wei,1990-08-10,fourth floor,blue,red,violet,154
3,P003,Haruto Tanaka,1996-10-27,lobby,green,blue,violet,158
4,P036,Kwame Mensah,1991-02-26,fourth floor,blue,yellow,orange,184
...,...,...,...,...,...,...,...,...
343,P126,Andrew Choe,1988-01-03,NaN,violet,indigo,red,176
344,P203,Krish Thakker,1965-09-26,third floor,yellow,indigo,orange,193
345,P273,Jeonghan Yoon,2003-07-12,fourth floor,blue,indigo,red,193
346,P290,Ananya Malipeddi,1994-10-03,third floor,NaN,yellow,indigo,161
347,P233,Ifra Syed,1982-06-27,second floor,red,yellow,orange,169

**TASK 2.2 (5 Points):** Now that we have cleaned up the Birthday column, lets find the age of each person. Create a new column called "Age" that displays the age of the person **on the day of the crime.** Once you are done, display the
"Profiles" dataframe

In [ ]:

crime = datetime(2025,2,27)

def age_calc(birth, crime):
    age = crime.year - birth.year
    if (crime.month, crime.day) < (birth.month, birth.day):
        age -= 1
    return age

profiles_df['Age'] = profiles_df['Birthday'].apply(lambda x: age_calc(x, crime))
profiles_df

,ID,Name,Birthday,Location_during_crime,Eye_Color,Skin_Color,Hair_Color,Height,Age
0,P299,Marco Rossi,1969-10-07,fourth floor,red,indigo,orange,191,55
1,P086,Aarav Patel,1979-10-03,second floor,indigo,indigo,green,198,45
2,P022,Li Wei,1990-08-10,fourth floor,blue,red,violet,154,34
3,P003,Haruto Tanaka,1996-10-27,lobby,green,blue,violet,158,28
4,P036,Kwame Mensah,1991-02-26,fourth floor,blue,yellow,orange,184,34
...,...,...,...,...,...,...,...,...,...
343,P126,Andrew Choe,1988-01-03,NaN,violet,indigo,red,176,37
344,P203,Krish Thakker,1965-09-26,third floor,yellow,indigo,orange,193,59
345,P273,Jeonghan Yoon,2003-07-12,fourth floor,blue,indigo,red,193,21
346,P290,Ananya Malipeddi,1994-10-03,third floor,NaN,yellow,indigo,161,30
347,P233,Ifra Syed,1982-06-27,second floor,red,yellow,orange,169,42

**TASK 2.3 (10 Points):** Now that we have created the "Age"; lets clean the 'Eye_color's column.

***Please read the directions carefully:***


- In order to fill in the missing eye_colors, we want to find the **most common eye_color** among those who have the **same hair and skin color**.
- For Instance, if we want to find the eye_color of someone who has yellow hair and violet skin:
 - we would first find everything who has the same hair and skin color, in this case it would be yellow hair and violet skin
 - and then we find the most common eye_color among them.
 - we then replace the missing eye_color with the eye color that is the most common among the people with the same hair and skin color.
- Watch out for redundant data!

- ***NOTE: In the case that you find multiple modes, choose the color that appears first in alphabetical order***

 When you finish filling in the missing eye colors, please **display the profiles_df**

In [ ]:


def avg_eye_color(df):
    df = df.copy()

    groups = df.groupby(['Hair_Color', 'Skin_Color'])

    for (hair, skin), group in groups:
        eye_colors = group['Eye_Color'].dropna()

        if not eye_colors.empty:
            modes = eye_colors.mode()

            if len(modes) > 1:
                chosen_color = sorted(modes)[0]
            else:
                chosen_color = modes[0]
            
            mask = (df['Hair_Color'] == hair) & (df['Skin_Color'] == skin) & (df['Eye_Color'].isna())
            df.loc[mask, 'Eye_Color'] = chosen_color
    
    return df

profiles_df = avg_eye_color(profiles_df)

profiles_df

,ID,Name,Birthday,Location_during_crime,Eye_Color,Skin_Color,Hair_Color,Height,Age
0,P299,Marco Rossi,1969-10-07,fourth floor,red,indigo,orange,191,55
1,P086,Aarav Patel,1979-10-03,second floor,indigo,indigo,green,198,45
2,P022,Li Wei,1990-08-10,fourth floor,blue,red,violet,154,34
3,P003,Haruto Tanaka,1996-10-27,lobby,green,blue,violet,158,28
4,P036,Kwame Mensah,1991-02-26,fourth floor,blue,yellow,orange,184,34
...,...,...,...,...,...,...,...,...,...
343,P126,Andrew Choe,1988-01-03,NaN,violet,indigo,red,176,37
344,P203,Krish Thakker,1965-09-26,third floor,yellow,indigo,orange,193,59
345,P273,Jeonghan Yoon,2003-07-12,fourth floor,blue,indigo,red,193,21
346,P290,Ananya Malipeddi,1994-10-03,third floor,yellow,yellow,indigo,161,30
347,P233,Ifra Syed,1982-06-27,second floor,red,yellow,orange,169,42


## Q3) Finding the features of the culprit (38 PTS Total)

Now that we have successfully cleaned all of our data, lets begin finding the features of the criminal. Take a moment to look at the **"Witnesses"** table. We don't necessarily want all the statements from every single witness.

**NOTE:** Take a look at the structure of each statement, notice how there are only a few variations of statements from the witnesses.

**TASK 3.1 (5 Points):** Find all witnesses that were near the crime scene
- First load in the Witness.csv file and set it to a variable called "**witness_df**"
- create a new dataframe called **"important_witnesses"** that contains the id and the witness statements of those who were near the scene of the crime
- display the new dataframe when you are finished
- **HINT:** look at the floor which the crime happened on.

In [ ]:

witness_df = pd.read_csv('Witness.csv')

important_witnesses = witness_df.merge(
    profiles_df[
        profiles_df['Location_during_crime'].notna() &
        profiles_df['Location_during_crime'].str.contains('second floor', case=False, na=False)],
    on='ID'
)[['ID', 'Statement']]

important_witnesses

      ID                                          Statement
0   P150  I saw someone with orange hair acting suspicious.
1   P075  I saw someone with orange hair acting suspicious.
2   P058   I saw someone with green eyes acting suspicious.
3   P157  I saw someone who looked 152 cm tall acting su...
4   P157  I saw someone who looked 152 cm tall acting su...
..   ...                                                ...
66  P077  I saw someone with orange eyes acting suspicious.
67  P168     I saw someone with red skin acting suspicious.
68  P168     I saw someone with red skin acting suspicious.
69  P145  I saw someone with orange eyes acting suspicious.
70  P145  I saw someone with orange eyes acting suspicious.

[71 rows x 2 columns]

**TASK 3.2 (10 Points):** Find every potential eye color that the culprit could have

 - Put all the potential eye colors of the culprit in a list called **"potential_eye_colors"** and **display** it when you're done.
 - **potential_eye_colors** should have **no duplicates.**

In [ ]:

import re

potential_eye_colors = set()
for statement in important_witnesses["Statement"]:
    match = re.search(r'I saw someone with (\w+) eyes acting suspicious', statement, re.IGNORECASE)
    if match:
        potential_eye_colors.add(match.group(1))

potential_eye_colors = list(potential_eye_colors)
print(potential_eye_colors)

['violet', 'green', 'blue', 'orange']

**TASK 3.3 (5 Points):** Find every potential hair color that the culprit could have

 - Put all the potential hair colors of the culprit in a list called **"potential_hair_colors"** and **display** it when you're done.

In [182]:

potential_hair_colors = set()
for statement in important_witnesses["Statement"]:
    match = re.search(r'I saw someone with (\w+) hair acting suspicious',statement, re.IGNORECASE)
    if match:
        potential_hair_colors.add(match.group(1))
    
potential_hair_colors = list(potential_hair_colors)
print(potential_hair_colors)

['violet', 'green', 'blue', 'orange']

**TASK 3.4 (5 Points):** Find every potential skin color that the culprit could have

 - Put all the potential skin colors of the culprit in a list called **"potential_skin_colors"** and display it when you're done

In [183]:

potential_skin_colors = set()
for statement in important_witnesses["Statement"]:
    match = re.search(r'I saw someone with (\w+) skin acting suspicious',statement, re.IGNORECASE)
    if match:
        potential_skin_colors.add(match.group(1))
    
potential_skin_colors = list(potential_skin_colors)
print(potential_skin_colors)

['green', 'red', 'orange']

**TASK 3.5 (10 Points):** Find the potential height of the culprit

 - Put the smallest and largest potential heights of the culprit in the variables called **"smallest_height" & "largest_height"** and display them when you are done

In [184]:
heights = []
for statement in important_witnesses["Statement"]:
    match = re.search(r'I saw someone who looked (\d+) cm tall acting suspicious', statement)
    if match:
        heights.append(int(match.group(1)))

smallest_height = min(heights)
largest_height = max(heights)
print(f"Smallest Height: {smallest_height} cm")
print(f"Largest Height: {largest_height} cm")

Smallest Height: 150 cm
Largest Height: 170 cm

**TASK 3.6 (8 Points):** Find the potential age of the culprit

 - Put the smallest and largest potential age of the culprit in the variables called **"smallest_age" & "largest_age"** and display them when you are done

In [185]:
ages = []
for statement in important_witnesses["Statement"]:
    match = re.search(r'I saw someone that looks to be (\d+) years old acting suspicious', statement)
    if match:
        ages.append(int(match.group(1)))

smallest_age = min(ages)
largest_age = max(ages)
print(f"Youngest age: {smallest_age} years old")
print(f"Oldest age: {largest_age} years old")

Youngest age: 21 years old
Oldest age: 35 years old

## Q4) Who owns the Ticket? (30 PTS Total)

**TASK 4.1 (2 Points):** Loading final dfs


Load in the **"Zichao's Magic Show.csv"** into a dataframe called **"show_df"** and the **"Interrogation_Statement.csv"** into a dataframe called **"interrogation_df"** respectively and display them when you are done

In [186]:
show_df = pd.read_csv("Zichao_s Magic Show.csv")
interrogation_df = pd.read_csv("Interrogation_Statements.csv")

print(show_df)
print(interrogation_df)

       ID  Ticket_Number
0    P132       50269975
1    P056       28120732
2    P250       88051289
3    P197       79545169
4    P012       83521845
..    ...            ...
146  P121       31341288
147  P003       85008158
148  P180       24491860
149  P283       38524355
150  P142        2238676

[151 rows x 2 columns]
                     Name                                          Statement
0    Kristopher Stoichkov  "Re%spe%cti%ng o%the%rs' be%lo%ngi%ngs i%s my ...
1           Naman Nagelia  "I@'d ne@ve@r je@o@pa@rdi@ze@ my re@pu@ta@ti@o...
2    Pranavh Vallabhaneni  "My pro^je^ct pre^se^nta^ti^o^n o^ccu^pi^e^d m...
3               Stacy Sun  "Thre$e$ co$nse$cu$ti$ve$ e$xa$ms dra$i$ne$d m...
4          Rina Kobayashi  "I% wa%s o%ff-ca%mpu%s a%tte%ndi%ng a% fa%mi%l...
..                    ...                                                ...
495             Ishan Kar  "I$ sto$le$ i$t i$n 2024 a$nd bri$be$d the$ po...
496          Adrian Black  "I% wa%s bu%sy wi%th my pro%je%ct pre%se%nta%t...
497       Brittany Taylor  "I@ wa@s bu@sy wi@th my gro@u@p pro@je@ct me@e...
498        William Miller  "I^ wa^sn't e^ve^n o^n ca^mpu^s tha^t da^y. Ch...
499  Christopher Ferguson  "Ste$a$li$ng? Tha$t's no$t i$n my na$tu$re$ a$...

[500 rows x 2 columns]

We're **so close** to figuring out the *last* and *final* clue to locate the culprit, but it looks like they are trying to beat us to it! What a devious criminal!

The culprit must have **sabotaged** our data after **interrogation** because it looks so wonky with weird symbols.

However, HQ informed us that our good friend and exemplar cryptanalyst **Alan Turing** has something to say to help us fix the data. **He encoded his message to keep it safe from the culprit.**

**TASK 4.2 (10 Points):**

Find what **Alan Turing** has to say:
- Use the **interrogation_df** to locate Alan's Turing's message.
- Put the message in a variable called "**encoded_message**" as a string (**Exclude** any **quotation marks** within the statement)
 - **Print** the encoded message in the following format: {"Encoded Message:", encoded_message}
- Figure out what the message says by taking a look at the numbers:
 - A **single space** between numbers indicates a letter to form a word.
 - A **double space** between numbers indicates the start of a new word.
- Store his decoded message in a variable called "**decoded_message**"
- Print out **Alan Turing's** decoded message in the following format: {"Decoded Message:", decoded_message}

**Hint:** Maybe [enumerating](https://docs.python.org/3/library/functions.html#enumerate) to store letters to numbers might help along with using [ascii values](https://docs.python.org/3/library/string.html)

In [187]:
alan_row = interrogation_df[interrogation_df["Name"] == "Alan Turing"]
encoded_message = alan_row["Statement"].values[0].strip('"')  

print({"Encoded Message:": encoded_message})


decoded_message = ""
ascii_values = encoded_message.split(" ")

for i, value in enumerate(ascii_values):
    if value.isdigit() and int(value) in range(1, 27):  
        decoded_message += chr(int(value) + 64) 
    elif value == "":  
        decoded_message += " "


print({"Decoded Message:": decoded_message})

{'Encoded Message:': '20 8 5  16 1 20 20 5 18 14  9 19  20 15  3 12 5 1 14  21 16  20 8 5  6 9 12 5  2 25  18 5 13 15 22 9 14 7  1 6 20 5 18  5 1 3 8  22 15 23 5 12  20 8 5  19 25 13 2 15 12 19  16 5 18 3 5 14 20  4 15 12 12 1 18  3 1 18 18 15 20  1 20'}
{'Decoded Message:': 'THE PATTERN IS TO CLEAN UP THE FILE BY REMOVING AFTER EACH VOWEL THE SYMBOLS PERCENT DOLLAR CARROT AT'}

**TASK 4.3 (10 Points):**

**Restore** the interrogation statements back to their original state after **following the decoded message from before**.
- After restoration, make sure your modifications are updated in the **interrogation_df** itself.
- **Display** the **interrogation_df** when you are done.

In [ ]:
def restore_statement(statement):
    cleaned_statement = ""
    vowels = "AEIOUaeiou"
    skip_next = False

    for i in range(len(statement)):
        if skip_next:
            skip_next = False  
            continue
        
        cleaned_statement += statement[i]


        if statement[i] in vowels and i + 1 < len(statement) and statement[i + 1] in "%$^@":
            skip_next = True  

    return cleaned_statement


interrogation_df["Statement"] = interrogation_df["Statement"].apply(restore_statement)


interrogation_df

                     Name                                          Statement
0    Kristopher Stoichkov  "Respecting others' belongings is my principle...
1           Naman Nagelia  "I'd never jeopardize my reputation by stealin...
2    Pranavh Vallabhaneni  "My project presentation occupied me in the en...
3               Stacy Sun  "Three consecutive exams drained me that day. ...
4          Rina Kobayashi  "I was off-campus attending a family event. Se...
..                    ...                                                ...
495             Ishan Kar  "I stole it in 2024 and bribed the police with...
496          Adrian Black  "I was busy with my project presentation in an...
497       Brittany Taylor  "I was busy with my group project meeting in a...
498        William Miller  "I wasn't even on campus that day. Check the a...
499  Christopher Ferguson  "Stealing? That's not in my nature at all. I r...

[500 rows x 2 columns]


**TASK 4.4 (8 Points):** Create a column called **Ticket_Color** for the **"show_df"** that displays all the colors of the ticket

Remember that there was a show ticket left at the crime scene, take a second to look through **"show_df"**.
- Try and find a way to identify how you can find the ticket color from the ticket number.
- **Display** the **"show_df"** when you are done

**HINT:** Examine the **"interrogation_df"**, someone might have an idea

In [189]:
def get_ticket_color(ticket_num):
    sum_digits = sum(int(digit) for digit in str(ticket_num))
    rightmost_digit = sum_digits % 10
    if 0 <= rightmost_digit <= 2:
        return "Blue"  
    elif 3 <= rightmost_digit <= 5:
        return "Red" 
    elif 6 <= rightmost_digit <= 7:
        return "Green" 
    else:
        return "Yellow"

show_df['Ticket_Color'] = show_df['Ticket_Number'].apply(get_ticket_color)

show_df

       ID  Ticket_Number Ticket_Color
0    P132       50269975          Red
1    P056       28120732          Red
2    P250       88051289         Blue
3    P197       79545169        Green
4    P012       83521845        Green
..    ...            ...          ...
146  P121       31341288         Blue
147  P003       85008158          Red
148  P180       24491860          Red
149  P283       38524355          Red
150  P142        2238676          Red

[151 rows x 3 columns]

## Q5) Finding the culprit (12 PTS Total)

A helpful function might be the "iloc" function. Have a look at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html

**TASK 5.1(10 Points):** Using all the **data compiled from before** find a person that matches all the features from the profile.

- Do not hardcode or you will lose credit after all your hardwork 🥸

- Put the name of the culprit in a variable called **"culprit"**
- Print out the name of the culprit (There is only one).

In [ ]:

red_tickets_df = show_df[show_df['Ticket_Color'] == "Red"]

red_profiles_df = profiles_df[profiles_df['ID'].isin(red_tickets_df['ID'])]


conditions = (
    (red_profiles_df['Eye_Color'].isin(["violet", "green", "blue", "orange"])) &
    (red_profiles_df['Hair_Color'].isin(["violet", "green", "blue", "orange"])) &
    (red_profiles_df['Skin_Color'].isin(["green", "red", "orange"])) &
    (red_profiles_df['Height'].between(150, 170, inclusive='both')) & 
    (red_profiles_df['Age'].between(21, 35, inclusive='both'))         
)


filtered_df = red_profiles_df[conditions]

culprit = filtered_df.iloc[0]['Name'] if not filtered_df.empty else "No culprit found"

print(culprit)

LeBron James

**TASK 5.2 (2 Points):** Check if your culprit is correct!

**Interrogate** your culprit to see if you got the correct person.

In [205]:

lebron_df = profiles_df[profiles_df['Name'] == "LeBron James"]


conditions = (
    (lebron_df['Eye_Color'].isin(["violet", "green", "blue", "orange"])) &
    (lebron_df['Hair_Color'].isin(["violet", "green", "blue", "orange"])) &
    (lebron_df['Skin_Color'].isin(["green", "red", "orange"])) &
    (lebron_df['Height'].between(150, 170, inclusive='both')) &
    (lebron_df['Age'].between(21, 35, inclusive='both'))
)


matches = lebron_df[conditions]


if not matches.empty:
    print("✅ LeBron James IS A THEIF!")
else:
    print("❌ LeBron James ain't do nun wrong")

✅ LeBron James IS A THEIF!

# GREAT WORK DETECTIVE!! 🌻